<ion-header [translucent]="true">
  <ion-toolbar color="warning"> 
    <ion-title>
      Share URL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Reciever's id" [(ngModel)]="userId"></ion-input>
  </ion-item>
<ion-item>
  <!-- <ion-input placeholder="Paste URL Here" [(ngModel)]="url"></ion-input> -->
  <ion-textarea placeholder="Url should contain http or https , example :- http://www.google.com" [(ngModel)]="url"
  rows="6"
  ></ion-textarea>
</ion-item>

  <ion-button color="success" expand="block"
  (click)="shareURL()"
  >Share</ion-button>
</ion-content>
